@{
    ViewData["Title"] = "";
}

<style>
    .zoom {
        text-align: center;
        color: black;
        text-transform: uppercase;
        padding: 1px;
        font-size: 60px;
        font-weight: 100;
        position: relative;
        transition: transform .2s; /* Animation */
    }

        .zoom:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
</style>



<div class="text-center">
    <h1 class="zoom">BUY OR SELL</h1>
    <h3>Welcome to the advertising site. Good luck</h3>
    <p style="color:white;">since 2021</p>
</div>

